/*

PRUSSIAN BLUE: #0B3C5D
SKY BLUE: #328CC1
GOLD LEAF: #D9B310
IVORY BLACK: #1D2731

OR

NAVY BLUE: #18121E
GUNMETAL: #233237
RUSTY RED: #984B43
WARM YELLOW: #EAC67A
WARM YELLOW (OC): #C9A24F
WHITE: #FFFFFF
*/

header.head:hover {
    height:60px;
}

.profile > span > a:hover{
    background-color: #C9A24F;
    cursor: url("../images/pikapika.png"), auto;
}

form.search_form > input:last-child:hover{
    background-color: #C9A24F;
    cursor: url("../images/pikapika.png"), auto;
}

#stories > article > footer > #comment > a:hover {
    background-color: #C9A24F;
    cursor: url("../images/pikapika.png"), auto;
}

.profile_info > .profile_details > .username > a > button:hover{
    background-color: #C9A24F;
    cursor: url("../images/pikapika.png"), auto;
}


input[type=submit]{
  cursor: url("../images/pikapika.png"), auto;
}

@media screen and (max-width: 1024px){
    .side_bar > .aside_content {
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .side_bar > .opening_tab {
        display: none;
    }
}
