/**
 * Body
 */

body {
  max-width: 80em;
  margin: auto;

  background-image: url("../images/backghe.png");
  background-attachment: fixed;
  background-size: 50px;
}

a {
  color: Black;
  text-decoration: none;
}


article.story{
  background-color: rgba(255,255,255,0.5);

}

article.story > h2 {
  font-style: italic;
  height: 1%;
  margin: 1%;
  text-align: center;
}

article.story > img{
  background-color: Purple;
  border-style: solid;
  border-top-width: thick;
  border-bottom-width: thick;
  border-left-width: 20px;
  border-right-width: 20px;
  border-color: Green;

  display: block;
  margin: auto;
  padding: auto;
  opacity: 1;

  max-height: 50em;
  
}

article.story > p{
  font-family: Lucida Sans Unicode;
  height: 1%;
  margin: 1%;
  text-align: left;
}

.side_bar{
  height: 65%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 0.3;
}

.side_bar:hover{
  width:160px;
  opacity: 0.8;
}

.side_bar section p{
  font-size: 1.7em;
  text-align: center;
  color: Orange;
}

.side_bar section:hover p{
  text-decoration: underline;
  transform: translate(1px, 10%);
}