/**
 * Body
 */

body {
  max-width: 80em;
  margin: auto;

  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-size: 1200px;

}

header.head{
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;
  height: 5%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid Black;
  text-align: center;
  background-image: url("../images/titlebg.png");
  background-size: 2%;
  color: White;
}


header a{
  color: white;
  text-decoration: none;
  background-color: rgba(0,0,0,0.5);
  border-radius: 25%;
}


.search_bar form.search{
  margin-top: 10%;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
/***********************************************STORIES******************************************************************/
article{
  background-color: rgba(255,255,255,0.5);
  border: 1px solid Black;
  margin: 5% 2%;
}



article header.channel{
  
  font-size: 70%;
  text-align: right;
  margin-right: 2%;
}

.story_title{
  font-style: italic;
  height: 1%;
  margin: 1%;
}

.story_image{
  
}

.story_details{
  }

.story_footer{
  
}

/*article.story > img{
  border-style: dashed;
  border-top-width: thick;
  border-bottom-width: thick;
  border-left-width: thick;
  border-right-width: thick;
  border-color: Pale Green;

  display: block;
  margin: auto;
  padding: auto;
  opacity: 1;

  min-width: 15%;

  border-radius: 5px;
  box-shadow: -1px -1px 25px Blue;
}*/

@media only screen and (min-width: 768px){
  article.story > img{
    max-width: 30%;
  }
}

@media only screen and (max-width: 768px){
  article.story > img{
    max-width: 25%;
  }
}

.story_text{
  font-family: 'Roboto', sans-serif;
  height: 1%;
  margin: 1%;
  text-align: left;
}

article.story section article span.user{
  font-family: Roboto;
  font-size: 80%;
  font-weight: bold;
  height: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 3%;
  text-align: left;
}

article.story section article span.date{
  font-family: Roboto;
  font-size: 80%;
  font-style: italic;
  height: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 3%;
  text-align: left;
}

article.comment p{
  font-family: Roboto;
  font-size: 90%;
  height: 1%;
  margin: 0 5%;
  text-align: left;
}

article.comment{
  border: 1px solid Black;
  background-color: rgba(100,149,237,0.5);
  margin: 2% 2%;
}



.side_bar{
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 0.5;
  transition: all 1s cubic-bezier(.12,.08,.27,1.33);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side_bar:hover{
  width:200px;
  opacity: 0.8;
  color: White;
}

.side_bar section p{
  font-size: 160%;
  text-align: center;
}

.side_bar section p a{
  text-decoration: none;
}

a:visited{
  color:inherit;
}

.side_bar section:hover p{
  text-decoration: underline;
  transform: translate(1px, 10%);
  border: medium;
  opacity: 0.9;
  color: White;
}


.side_bar section img{
  width: 100%;
  height: 100%;
  background-color: #111;
}

input[type=submit]{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: 1px solid Black;;
  border-radius: 20px;
  cursor: url("../images/pikapika.png"), auto;
}

input[type=text]:focus {
  border: 3px solid Orange;
  transform: scale( );
}

input[type=text]{
  margin-left: 1%;
}

#story_comments ul, ul#story_comments {
  list-style: none;
}