
news/database/comments\.php

news/database/connection\.php

news/database/news\.php

news/list_news\.php

news/news_item\.php

news/news\.db

news/news\.sql

news/style\.css

news/templates/comments/list_comments\.php

news/templates/common/footer\.php

news/templates/common/header\.php

news/templates/news/list_news\.php

news/templates/news/news_item\.php
